.idea/
.vscode/
.DS_Store
target/
*.iml
*.log
.env

### Local application overrides
application-local.yml

### Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
