subscription_id = "00000000-0000-0000-0000-000000000000"
location        = "brazilsouth"
environment     = "dev"
service_bus_sku = "Standard"

tags = {
  owner       = "raphael-reis"
  cost-center = "learning"
}

